---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";

import Features from "../components/Features.astro";
import Testimonials from "../components/Testimonials.astro";
import FAQ from "../components/FAQ.astro";
import Contact from "../components/Contact.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="EventEase - Smart Event Management Platform">
    <Navbar />
    <main>
        <Hero />
        <Features />
        <Testimonials />
        <FAQ />
        <Contact />
        <CTA />
    </main>
    <Footer />
</Layout>
